body {
    padding: 1.6%;  /*To generate space inside of the defined borders.*/
    background-color: cadetblue;
    
}
header {
    display: grid;
    text-align: center;
}
section {
    text-align: center;
    font-size: 120%;
}
nav {
    display: grid;
    width: 100%;
    text-align: center;
}
figure {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
figcaption {
    margin: auto;
    width: 100%;
}
img {
    width: 100%;
    height: 80%;
    gap: 200%;
}
.picregret {
    position: relative;
    bottom: 22%;
    font-size: 150%;
    background-color: rgba(255, 255, 255,0.6);
}
.picgender {
    position: relative;
     bottom: 22%;
    font-size: 150%;
    background-color: rgba(255, 255, 255,0.6);
} 
.picharm {
    position: relative;
    bottom: 22%;
    font-size: 150%;
    background-color: rgba(255, 255, 255,0.6);
}
.picletgo {
    position: relative;
    bottom: 22%;
    font-size: 150%;
    background-color: rgba(255, 255, 255,0.6);
}
.picvalue {
    position: relative;
    bottom: 22%;
    font-size: 150%;
    background-color: rgba(255, 255, 255,0.6);
}
a:link{
    color: black;
    /* Remove link underline */
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}
@media only screen and (min-width: 768px) {
    body {
        background-color: wheat;
    }
    header {
        font-size: 150%;
    }
    section {
        font-size: 120%;
    }
    img {
        height: 80%;
    }
    nav {
        display: grid;
        gap: 3%;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        
    }
}
